In [1]:
import numpy as np
import pandas as pd
import os

# Dosyaların tam yollarını almak için kullanılır
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/titanic/Test (2).csv
/kaggle/input/titanic/titanic/train.csv
/kaggle/input/titanic/titanic/test.csv
/kaggle/input/titanic/titanic/gender_submission.csv

In [2]:
train_data = pd.read_csv("/kaggle/input/titanic/titanic/train.csv")
y_train = train_data["Survived"]
X_train = train_data.drop("Survived", axis=1)

X_test = pd.read_csv("/kaggle/input/titanic/titanic/test.csv")
y_test = pd.read_csv("/kaggle/input/titanic/titanic/gender_submission.csv")
y_test = np.array(y_test.drop("PassengerId", axis=1))

print("Train info:")
print(X_train.info())
print("Test info:")
print(X_test.info())

Train info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Pclass       891 non-null    int64
 2   Name         891 non-null    object
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
 9   Cabin        204 non-null    object
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.7+ KB
None
Test info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB
None

In [3]:
X_train

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
age_mean = int(X_train["Age"].mean() + 0.5)
print(f"Ortalama yaş değeri: {age_mean}")

X_train["Age"] = X_train["Age"].fillna(age_mean)
X_train.info()

age_mean = (X_test["Age"].mean() + 0.5)

print(f"Test veris seti ortalama yaş: {age_mean}")
X_test["Age"] = X_test["Age"].fillna(age_mean)
X_test.info()

Ortalama yaş değeri: 30
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Pclass       891 non-null    int64
 2   Name         891 non-null    object
 3   Sex          891 non-null    object
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
 9   Cabin        204 non-null    object
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.7+ KB
Test veris seti ortalama yaş: 30.772590361445783
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

In [5]:
# Cabin numarası olmayanları 0 ile dolduruyorum. Bu feature'ı da bir sınıf olarak kabul edeceğim.

X_train['Has_Cabin'] = np.where(X_train['Cabin'].notnull(), 1, 0)
X_test['Has_Cabin'] = np.where(X_test['Cabin'].notnull(), 1, 0)

X_train.drop('Cabin', axis=1, inplace=True)
X_test.drop('Cabin', axis=1, inplace=True)

X_train.info()
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Pclass       891 non-null    int64
 2   Name         891 non-null    object
 3   Sex          891 non-null    object
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
 9   Embarked     889 non-null    object
 10  Has_Cabin    891 non-null    int64
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Embarked     418 non-null    object
 10  Has_Cabin    418 non-null    int64
dtypes: float64(2), int64(5), object(4)
memory usage: 36.1+ KB

In [6]:
# Embarked feature'ı tamamen kaldırıyorum. Binilen yerin hayatta kalma ile orantılı olduğunu düşünmüyorum.

X_train.drop(["Embarked", "Ticket", "PassengerId", "Name"], axis=1, inplace=True)
X_test.drop(["Embarked", "Ticket", "PassengerId", "Name"], axis=1, inplace=True)

# X_test deki boş olan Fare feature'ını ortalama değer ile değiştiriyoruz.

mean_fare = round(X_test["Fare"].mean(), 4)
print(f"X_test mean fare: {mean_fare}")
X_test["Fare"] = X_test["Fare"].fillna(mean_fare)

X_test.info()
X_train.info()

X_test mean fare: 35.6272
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Pclass     418 non-null    int64
 1   Sex        418 non-null    object
 2   Age        418 non-null    float64
 3   SibSp      418 non-null    int64
 4   Parch      418 non-null    int64
 5   Fare       418 non-null    float64
 6   Has_Cabin  418 non-null    int64
dtypes: float64(2), int64(4), object(1)
memory usage: 23.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Pclass     891 non-null    int64
 1   Sex        891 non-null    object
 2   Age        891 non-null    float64
 3   SibSp      891 non-null    int64
 4   Parch      891 non-null    int64
 5   Fare       891 non-null    float64
 6   Has_Cabin  891 non-null    int64
dtypes: float64(2), int64(4), object(1)
memory usage: 48.9+ KB

In [7]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

numerical_features = X_train.select_dtypes(include=['int64', 'float64']).columns
categorical_features = X_train.select_dtypes(include=['object', 'category']).columns

print("Sayısal Sütunlar:", list(numerical_features))
print("Kategorik Sütunlar:", list(categorical_features))


# Pipeline

numerical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])

# handle_unknown='ignore' -> test setinde eğitimde görülmeyen bir kategori olursa hata vermeden onu görmezden gelmesini sağlar.
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])


# Pipeline'ları birleştirme
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_features),
        ('cat', categorical_transformer, categorical_features)
    ],
    remainder='passthrough' # Belirtilmeyen sütunlara ne yapılacağını söyler (burada dokunma/geç diyoruz)
)

X_train_scaled = preprocessor.fit_transform(X_train)
X_test_scaled = preprocessor.transform(X_test)


# Result
print("\nOrijinal Eğitim Verisi Boyutu:", X_train.shape)
print("Ölçeklenmiş Eğitim Verisi Boyutu:", X_train_scaled.shape)
print("\nÖlçeklenmiş Veri (İlk 5 Satır):")

X_train_scaled

Sayısal Sütunlar: ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Has_Cabin']
Kategorik Sütunlar: ['Sex']

Orijinal Eğitim Verisi Boyutu: (891, 7)
Ölçeklenmiş Eğitim Verisi Boyutu: (891, 8)

Ölçeklenmiş Veri (İlk 5 Satır):

array([[ 0.82737724, -0.59705478,  0.43279337, ..., -0.54492498,
         0.        ,  1.        ],
       [-1.56610693,  0.63416229,  0.43279337, ...,  1.835115  ,
         1.        ,  0.        ],
       [ 0.82737724, -0.28925051, -0.4745452 , ..., -0.54492498,
         1.        ,  0.        ],
       ...,
       [ 0.82737724,  0.01855376,  0.43279337, ..., -0.54492498,
         1.        ,  0.        ],
       [-1.56610693, -0.28925051, -0.4745452 , ...,  1.835115  ,
         0.        ,  1.        ],
       [ 0.82737724,  0.17245589, -0.4745452 , ..., -0.54492498,
         0.        ,  1.        ]])

In [8]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=9)
knn.fit(X=X_train_scaled, y=y_train)

KNeighborsClassifier(n_neighbors=9)

In [9]:
from sklearn.metrics import accuracy_score, confusion_matrix

y_pred = knn.predict(X=X_test_scaled)

score = accuracy_score(y_pred=y_pred, y_true=y_test)

print(f"Score: {score}")

Score: 0.8755980861244019